.DS_STORE
.haxelib/
.vs/
APIStuff.hx
dump/
temp/
docs/temp/
export/
astc-textures/
RECOVER_*.fla
shitAudio/
.build_time
.swp
NewgroundsCredentials.hx

# Mobile signing stuff
.apple/
.env
key.keystore

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*
