[submodule "assets"]
	path = assets
	url = https://github.com/FunkinCrew/Funkin.assets
[submodule "art"]
	path = art
	url = https://github.com/FunkinCrew/Funkin.art
	shallow = true
[submodule "azeengine.assets"]
	path = azeengine.assets
	url = https://github.com/Azeouza/azeengine.assets
