.coolBox {
    background: #1a1a1aCC;
    margin: 40px 4vw;
    padding: 25px;
    font-size: 120%;
    border-radius: 10px;
}

#wrapper
{
    padding: 20px;
    margin: auto;
}

marquee {
    margin: auto;
    text-align: center;
    display: inline-block;
}

h1 {
    text-align: center;
}

body {
    background-image: url('img/skin-funkin-cardbordtoast.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    
}

a { color:inherit;
  text-decoration: none;}


.hovertext a{
    color:white;
    text-shadow: 0px 0px #00000077;
    transition: color 1s, text-shadow 1s;
}

.hovertext a:hover
{
    text-shadow: 2px 2px #00000077;
    color: #ffb50e;
}

.linktext {
    text-align: center;
    display:block;
    font-size: 130%;
    padding-bottom: 10px;
}

.linktext a {
    font-weight: bold;  
}

.linktext a:hover {
  border-radius: 5px;
}

#itch a:hover
{
    color: #fa5c5c;
}
#twitter a:hover
{
    color: #00acee;
}


#coolervidwrapper {
    padding-left: min(12em, 75%);
    padding-right: min(12em, 75%);
    min-width: 30%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  max-block-size: 1400px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
