<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>::APP_FILE::</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIconName</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>::APP_PACKAGE::</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>::APP_TITLE::</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>::APP_VERSION::</string>
	<key>CFBundleSignature</key>
	<string>haxe</string>
	<key>CFBundleVersion</key>
	<string>::APP_BUILD_NUMBER::</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<!--
		Declares the one-click mod install scheme.
	-->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>::APP_PACKAGE::.oneclick</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>funkin</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
