<?xml version="1.0" encoding="utf-8"?>
<module>
	<!-- A module provides additional behavior and configuration for HaxeUI. -->
	<components>
		<!--
			Ensure all components get included at compilation time.
			This needs to be done HERE and not via the `include` macro because `Toolkit.init()`
			reads this to build the component registry.
		-->
		<class package="haxe.ui.backend.flixel.components" loadAll="true" />
		<class package="haxe.ui.components" loadAll="true" />
		<class package="haxe.ui.containers.dialogs" loadAll="true" />
		<class package="haxe.ui.containers.menus" loadAll="true" />
		<class package="haxe.ui.containers.properties" loadAll="true" />
		<class package="haxe.ui.containers" loadAll="true" />
		<class package="haxe.ui.core" loadAll="true" />
		<!-- Custom components. -->
		<class package="funkin.ui.haxeui.components" loadAll="true" />
	</components>
</module>
