name: Superlinter

# Controls when the workflow will run
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.0.5
      - run: |
          haxe -version
          haxelib install hxnodejs
